/* Styles go here */
@tailwind base;
@tailwind components;
@tailwind utilities;

.accounts{
    background-color: #6366f1;
    padding-right: 10px;
    border-radius: 20px;
    width: fit-content;
    color: white;
    /* border: 1px solid #989191; */
    padding-left: 10px;
    box-shadow: 1px 1px 10px #d8d4d4;

}